{% extends 'base.html' %}

{% block header %}
<h2>About this project</h2>
{% endblock %}

{% block content %}
<p>This is an unofficial, experimental interface for searching records from the US Copyright Office's <i>Catalog of Copyright Entries</i> digitized by NYPL. You can read about the inception and progress of the project in two blog posts: <a href="https://www.nypl.org/blog/2018/03/30/unlocking-record-american-creativity">Unlocking the Record of American Creativity—with Your Help</a> and <a href="https://www.nypl.org/blog/2019/05/31/us-copyright-history-1923-1964">https://www.nypl.org/blog/2019/05/31/us-copyright-history-1923-1964</a></p>
{% endblock %}
