<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - CCE Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='uswds.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  

  <header class="usa-header usa-header--basic grid-container" role="banner">
    <div class="grid-row">
      <div class="grid-col-10">
        <div class="usa-logo">
          <h1 class="usa-logo__text">
            <a href="/" title="Home" aria-label="Home">US Copyright Search</a>
          </h1>
        </div>

        <div>Search for copyright registrations and renewals on books from the <i>Catalog of Copyright Entries</i></div>
      </div>
      <div class="grid-col-2">
        <nav role="navigation" class="usa-nav">
          <ul class="usa-nav__primary usa-accordion">
            <li class="usa-nav__primary-item">
              <a class="usa-nav__link" href="/">Search</a>
            </li>
            <li class="usa-nav__primary-item">
              <a class="usa-nav__link" href="/about">About
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>


  
  <main id="main-content" class="grid-container">
    {% block header %}{% endblock %}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </main>

  <footer class="usa-footer usa-footer--slim" role="contentinfo">
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
      <div class="grid-row grid-row maxw-desktop margin-x-auto desktop:padding-x-4">
        <div class="mobile-lg:grid-col-8">
          <nav class="usa-footer__nav">
            <ul class="add-list-reset grid-row grid-gap">
              <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                <a class="usa-footer__primary-link" href="/">Search</a>
              </li>
              <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                <a class="usa-footer__primary-link" href="/about">About</a>
              </li>
              <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                <a class="usa-footer__primary-link" href="/about#reporting-errors">Report an Error</a>
              </li>
              <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                <a class="usa-footer__primary-link" href="/about#get-code">Get the Code</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-lg:grid-col-4">
          <address class="usa-footer__address">
            <div class="grid-row grid-gap mobile-lg:grid-gap-0">
              <div class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                <div class="usa-footer__contact-info">
                  <a href="https://twitter.com/rdmond">@rdmond</a>
                </div>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="usa-footer__logo grid-row grid-gap-2">
          An unofficial, experimental interface to search records digitized by NYPL's <a href="https://github.com/NYPL/catalog_of_copyright_entries_project">Catalog of Copyright Entries project</a>
        </div>
      </div>
    </div>
  </footer> 
</body>
