{% extends 'base.html' %}

{% block header %}
<h2>Registration Classes</h2>
{% endblock %}

{% block content %}
<p>The letters at the beginning of a registration number like “A1234”, or "BB4567" are the registration “class.” These classes mainly have to do with type or material of the work: “A” for books, “D” for dramas, “F” for maps, and so on. They may also indicate some other aspect of the work such as “DP” for a <em>published</em> drama or “DU” for an <em>unpublished</em> one.</p> Most of the entries in this dataset so far are “A” (books), and some sub-classes of class “A” are important to understand for determining copyright.</p>

<h3 id="foreign">Foreign Publications (AF, AFO)</h3>

<p>Any AF-class work is probably still in copyright.</p>

<p>“AF” and “AFO” are used for non-English works published outside the United States. “AFO” is used after 1949 when the Copyright Office began allowing an applicant to provide one deposit copy of the work and pay a fee, which resulted in an “AF” registration, or two copies and a catalog card instead of the fee, which resulted in an “AFO” registration.</p>

<p>At the time, these foreign works had the same copyright term as domestic works, 28 years with the possibility of one renewal. Many were not renewed and entered the public domain in the US. However, after the United States <a href="https://en.wikipedia.org/wiki/Berne_Convention_Implementation_Act_of_1988">joined the Berne Convention in 1989</a>, agreeing to respect the copyright terms of other signatory countries, and later passed the <a href="https://en.wikipedia.org/wiki/Uruguay_Round_Agreements_Act">Uruguay Round Agreements Act</a> in 1994, copyright was <em>retroactively</em> restored to these foreign-published works. The works status may depend on the copyright term of its source country.</p>

<h3 id="interim">Interim Registrations (AI, AIO)</h3>

<p>Any AI-class work is probably still in copyright</p>

<p>“AI” and “AIO” are used English-language works published outside the United States. Unlike non-English works, these were subject to the “Manufacturing Clause” which required them to printed in the United States in order to gain US copyright protection. The interim registration secured temporary protection until an American edition could be printed. Like class AF, copyright was restored to most of these works after URAA<p>

<p>When an AI registration is followed by an American edition, the American edition receives an A-class registration. Therefore in determining the copyright if any book, it is important to determine whether there is a previous AI (or possibly AF) registration that would indicate restored rights.</p>

{% endblock %}
